body {
  background-image: url("../images/pokemon_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.game__title {
  font-family: 'DotGothic16', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  color: #fe9441;
  @media (min-width: 1024px) {
    font-size: 8rem;
  }
}

.choose {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  @media (min-width: 1024px) {
    font-size: 4rem;
  }
}



.pokemons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  width: 80vw;
  @media (orientation: landscape){
    flex-direction: row;
  }
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 1280px) {
    justify-content: space-between;
  }

  .figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 0 0 1rem 0;

    .img {
      width: 35%;
      padding: 1rem 0;
      @media (min-width: 600px) {
        width: 50%;
      }
      @media (min-width: 800px) {
        width: 80%;
      }
      @media (min-width: 1024px) {
        width: 100%;
      }
    }
    .figcaption {
      font-size: 1.8rem;
      font-family: 'DotGothic16', sans-serif;
      color: white;
      @media(min-width: 800px) {
        font-size: 3rem;
      }
    }
  }
}

.start {
 font-size: 2rem;
  margin: 1rem 0;
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
  border-radius: 1rem;
  padding: .5rem 2rem;
  transition: .3s ease;
  @media(min-width: 800px) {
    font-size: 3rem;
  }
  &:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  width: 80vw;
  p {
    padding: .5rem;
    font-size: 1.5rem;
    color: white;
    @media(min-width: 800px) {
      font-size: 3rem;
    }
  }
}